<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
                h1{
                    color:black;
                    text-align: center;
                }
                label{
                    color:black;
                }
                #blog{
                    text-align: left;
                    color: black;
                    font-size: 32px;
                }
                p{
                    color: black;
                }
        </style>
    </head>
<body>
    <nav>
        <h2>
            <a href="/blog">Main Blog Page</a>
            <a href="/newpost">Add a Blog Entry</a>
        </h2>
    </nav>
    {% block content %}
    {% endblock %}

</body>
</html>